@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #9DD9D2;
}

.wrapper {
    width: 98vw;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #FFF8F0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: .25rem;
}

.menu .active {
    color: #FF8811;
}

.menu a:hover {
    background-color: #F4D06F;
    color: #FF8811;
    transition: ease-in .3s;
}

.brand {
    color: #FFF8F0;
}

.brand span {
    color: #392F5A;
}

.main{
    margin: 0 auto;
    width: 70vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1 {
    color: #FFF8F0;
    font-size: 3em;
}

span {
    color: #392F5A;
}

.main img {
    width: 350px;
    border: 7px solid #F4D06F;
    height: 520px;
}

.aboutMe {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 98vw;
    align-items: center;
}

.aboutMe img {
    width: 100%;
    grid-column: 1/5;
}

.aboutMe-info {
    grid-column: 5/10;
    padding: 3em;
}

.aboutMe-info h2 {
    font-size: 2em;
    color: #FFF8F0;
}   

.divider {
    height: 4px;
    width: 60px;
    background-color: #FF8811;
    margin-top: 5px;
    margin-bottom: 1.5em;
}